.vscode/**
.vscode-test/**
.firecrawl/**
src/**
node_modules/**
!node_modules/iconv-lite/**
!node_modules/safer-buffer/**
.gitignore
tsconfig.json
**/*.ts
**/*.map
docs/**
*.md
!README.md
!CHANGELOG.md
images/**
!images/icon.png
!images/icon-sidebar.png
!images/icon.svg
!images/icon-sidebar.svg
